@{
    ViewData["Title"] = "Comunidades";
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/comunidadesStyle.css">
<link rel="stylesheet" href="~/css/carousel.css">
<!-- Comunidades -->

<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
    </div>
</header>

<div class="mis-comunidades">
    @if(ViewBag.ComunidadesPertenecientes.Count > 0){
        <h1>Tus comunidades, @ViewBag.Usuario.Username</h1>
       <div class="row"> 
        @foreach(var item in ViewBag.ComunidadesPertenecientes)
        {
                <a class="ComuPer" href='@Url.Action("Comunidad", new {id = ViewBag.Usuario.ID_Usuario, idComunidad = item.ID_Comunidad})'>@item.Nombre</a>
        }
        </div>
    }
    else{
        <h1>Empezá a unirte a comunidades.</h1>
    }
</div>

<div class="comunidades-recomendadas contenedor">
    <div class="contenedor-titulo-controles">
        <div>
            <h2>Todo sobre</h2>
        </div>
        <div class="indicadores"></div>
    </div>

    <div class="contenedor-principal">
        <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

        <div class="contenedor-carousel">
            <div class="carousel">
                @for(int i = 0; i < 5; i++) 
                {
                    <img src="@ViewBag.TodasComunidades[i].FotoPerfil" alt="imagen-comunidad">
                    <h2>@ViewBag.TodasComunidades[i].Nombre</h2> 
                }
                    <div class="tarjeta-comunidad">
                    </div>
        </div>

        <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
    </div>
</div>

<div>


<svg>
  <symbol id="next" viewBox="0 0 256 512">
    <path fill="white"
      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" />
  </symbol>
  <symbol id="previous" viewBox="0 0 256 512">
    <path fill="white"
      d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z" />
  </symbol>
</svg>


<script src="~/js/menu.js" asp-append-version="true"></script>
<script src="~/js/carousel.js" asp-append-version="true"></script>