@{
    ViewData["Title"] = ViewBag.Comunidad.Nombre;
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>

<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {usuario = ViewBag.Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {usuario = ViewBag.Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {usuario = ViewBag.Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {usuario = ViewBag.Usuario})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {usuario = ViewBag.Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {usuario = ViewBag.Usuario})'>Perfil</a></li>
    </div>
</header>


<h1>@ViewBag.Comunidad.Nombre</h1>

<div >

</div>

<div>
    <h2>Todo sobre</h2>
    <h2><i>@ViewBag.Comunidad.Nombre</i></h2>

    @* Aca va el carousel de imagenes. Vamos a usar este: https://codepen.io/Raddy/pen/GRjYjKY *@
</div>

<div class="comentarios">
    @foreach(var item in ViewBag.Comentarios){
        <div class="comentario">
            <div>
                <div>
                    <h3>@item.ID_Usuario</h3>
                </div>
                <div>
                    @* Icono Editar *@
                    @* Icono Eliminar *@
                </div>
            </div>
            <div>
                <p>@item.Contenido</p>
            </div>
        </div>
    }

    <form>
        <input type="text">
        <div>
            <input type="submit">
        </div>
    </form>
</div>


<script src="~/js/menu.js" asp-append-version="true"></script>