@{
    ViewData["Title"] = "Comunidades";
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>

<!-- Comunidades -->

<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {usuario = ViewBag.Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {usuario = ViewBag.Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {usuario = ViewBag.Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {usuario = ViewBag.Usuario})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {usuario = ViewBag.Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {usuario = ViewBag.Usuario})'>Perfil</a></li>
    </div>
</header>

@* <div class="comunidades__top-navigation">
    @foreach(var artista in ViewBag.Artistas){
        <div class="card">
            <img src="@artista.img" alt="">
            <h3>@artista.name</h3>
        </div>
    }
</div>
<div class="comunidades__lowerSearch">
    <div class="comunidades__lowerSearch-buscador">
        <form action="">
            <input type="text">
            <button type="submit"><img src="" alt=""></button>
        </form>
    </div>
    <div class="comunidades__lowerSearch-sugerencias">
        @foreach(var InfoArtistas in ViewBag.ArtistasClasificados){
            <h2>@InfoArtistas.Name</h2>
            @foreach(var artista in InfoArtistas){
                <div class="card">
                    <img src="@artista.img" alt="">
                    <h3>@artista.name</h3>
                </div>
            }
        }
    </div>
</div> *@

<h1>Mis comunidades</h1>

@foreach(var item in ViewBag.ComunidadesPertenecientes){
    <div class="card">
        <h3>@item.Nombre</h3>
    </div>
}

<h1>Todas las Comunidades</h1>

@foreach(var item in ViewBag.TodasComunidades){
    <div class="card">
        <h3>@item.Nombre</h3>
    </div>
}

<script src="~/js/menu.js" asp-append-version="true"></script>