@{
    ViewData["Title"] = "Comunidades";
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>

<!-- Comunidades -->

<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {usuario = ViewBag.Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {usuario = ViewBag.Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {usuario = ViewBag.Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {usuario = ViewBag.Usuario})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {usuario = ViewBag.Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {usuario = ViewBag.Usuario})'>Perfil</a></li>
    </div>
</header>

<div class="mis-comunidades">
    @if(@ViewBag.ComunidadesPertenecientes.Count > 0){
        <h1>Tus comunidades, @ViewBag.Usuario.Username</h1>

        @foreach(var item in ViewBag.ComunidadesPertenecientes){
            <form action='@Url.Action("Comunidad")' method="post">
                <input type="hidden" value="@item.ID_Comunidad" name="id">
                <input type="submit" value="@item.Nombre">
            </form>
        }
    }
    else{
        <h1>Empezá a unirte a comunidades.</h1>
    }

</div>

<div class="contenedor-carrousel">
    <h2><i>Más populares</i></h2>
    @* carrousel *@
</div>

<div class="contenedor-carrousel">
    <h2><i>Otras comunidades</i></h2>
    @* carrousel *@
</div>

<script src="~/js/menu.js" asp-append-version="true"></script>