@{
    ViewData["Title"] = ViewBag.Comunidad.Nombre;
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>

<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
    </div>
</header>


<h1>@ViewBag.Comunidad.Nombre</h1>

<div >
    <img src="ViewBag.Comunidad.FotoPerfil" alt="fotocomunidad">
</div>

<div>
    <h2>Todo sobre</h2>
    <h2><i>@ViewBag.Comunidad.Nombre</i></h2>

    @* Aca va el carousel de imagenes. Vamos a usar este: https://codepen.io/Raddy/pen/GRjYjKY *@
</div>

<div class="comentarios">
    @foreach(var item in ViewBag.Comentarios){
        <div class="comentario">
            <div class="perfil">
                <div>
                    <p>@item.ID_Usuario</p>
                </div>
                <div>
                    <span class="material-symbols-outlined lapiz">edit</span>
                    <span class="material-symbols-outlined" style="margin-left: 5px; color: darkred;">delete</span>
                </div>
            </div>
            <div class="contenido">
                <p>@item.Contenido</p>
            </div>
        </div>
    }

    <form action='@Url.Action("PublicarMensaje")' method="post">
        <input type="text" name="contenido">
        <input type="hidden" name="id" value="@ViewBag.Usuario.ID_Usuario">
        <input type="hidden" name="idComunidad" value="@ViewBag.Comunidad.ID_Comunidad">
        <div>
            <input type="submit">
        </div>
    </form>
</div>


<script src="~/js/menu.js" asp-append-version="true"></script>