@{
    ViewData["Title"] = ViewBag.Comunidad.Nombre;
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>

<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
    </div>
</header>


<h1>@ViewBag.Comunidad.Nombre</h1>

<div>
    <img src="@ViewBag.Comunidad.FotoPerfil" alt="fotocomunidad">
</div>

@* Aca va el carousel de imagenes. Vamos a usar este: https://codepen.io/Raddy/pen/GRjYjKY *@

@* Estructura del carousel *@
@* <div class="canciones-recomendadas contenedor">
    <div class="contenedor-titulo-controles">
        <div>
            <h2>Todo sobre</h2>
            <h2><i>@ViewBag.Comunidad.Nombre</i></h2>
        </div>
        <div class="indicadores"></div>
    </div>

    <div class="contenedor-principal">
        <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

        <div class="contenedor-carousel">
            <div class="carousel">
                @foreach(var item in ViewBag.Albumes){
                    <div class="cancion">
                        <button><img src="@item.FotoPortada" alt=""></button>
                    </div>
                }
            </div>
        </div>

        <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
    </div>
</div> *@

<div>
    <h2>Todo sobre</h2>
    <h2><i>@ViewBag.Comunidad.Nombre</i></h2>
</div>

<div class="albumes">
    @foreach(var item in ViewBag.Albumes){
        <button class="album" data-bs-toggle="modal" data-bs-target="#ModalCanciones" onclick="VerCanciones(@item.ID_Album)">
            <img src="@item.FotoPortada" alt="">
            <p>@item.Nombre</p>
            <p style="font-weight: 400;">@item.Año</p>
        </button>
    }
</div>

<div class="comentarios">
    @foreach(var item in ViewBag.Comentarios){
        <div class="comentario">
            <div class="perfil">
                <div>
                    <p>@item.ID_Usuario</p>
                </div>
                <div>
                    <span class="material-symbols-outlined lapiz">edit</span>
                    <span class="material-symbols-outlined" style="margin-left: 5px; color: darkred;">delete</span>
                </div>
            </div>
            <div class="contenido">
                <p>@item.Contenido</p>
            </div>
        </div>
    }

    <form action='@Url.Action("PublicarMensaje")' method="post">
        <input type="text" name="contenido">
        <input type="hidden" name="id" value="@ViewBag.Usuario.ID_Usuario">
        <input type="hidden" name="idComunidad" value="@ViewBag.Comunidad.ID_Comunidad">
        <div>
            <input type="submit">
        </div>
    </form>

    <div class="modal fade" tabindex="-1" id="ModalCanciones" aria-labelledby="ModalCancionesTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="NombreCancion">Modal title</h3>
                    @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> *@
                </div>
                <div class="modal-body">
                    <div id="Canciones"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@* <script src="~/js/carousel.js" asp-append-version="true"></script> *@
<script src="~/js/menu.js" asp-append-version="true"></script>