@{
    ViewData["Title"] = "Comunidades";
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/comunidadesStyle.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

<style>
    .swiper{
        width: 100%;
        padding: 30px 5% 30px 5%;
    }

    .swiper img{
        width: 100%;
        border-radius: 15px;
    }

    .swiper-slide{
        border-radius: 15px;
        width: 300px;
        height: 30%;
        background-color: var(--black);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        padding: 40px;
        text-align: center;
        overflow: hidden;
    }

    .swiper-slide p{
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 15px
    }
</style>

<!-- Comunidades -->

<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
    </div>
</header>

<div class="mis-comunidades"> 
    @if(ViewBag.ComunidadesPertenecientes.Count > 0){
        <h1>Tus comunidades, @ViewBag.Usuario.Username</h1>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                @foreach(var item in ViewBag.ComunidadesPertenecientes)
                {
                    <div class="swiper-slide">
                        <a href='@Url.Action("Comunidad", new {id = ViewBag.Usuario.ID_Usuario, idComunidad = item.ID_Comunidad})'><img src="@item.FotoPerfil" alt=""></a>
                        <p>@item.Nombre</p>
                    </div>
                }
            </div>
        </div>
    }
    else{
        <h1>Empezá a unirte a comunidades.</h1>
    }
</div>

<h2 style="margin-left: 28px; margin-top: 2rem"><i>Todas las comunidades</i></h2>

<div class="canciones-recomendadas contenedor">
    <div class="contenedor-titulo-controles">
        <div class="indicadores"></div>
    </div>

    <div class="contenedor-principal">
        <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

        <div class="contenedor-carousel">
            <div class="carousel">
                @foreach(var item in ViewBag.TodasComunidades){
                    <a href='@Url.Action("Comunidad", new {id = ViewBag.Usuario.ID_Usuario, idComunidad = item.ID_Comunidad})' class="carousel-comunidad">
                        <img src="@item.FotoPerfil" alt="imagen-comunidad">
                        <h2>@item.Nombre</h2>
                    </a>
                }
            </div>
        </div>

        <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
    </div>
</div>

<h2 style="margin-left: 28px;"><i>Más populares</i></h2>

<div class="canciones-recomendadas contenedor">
    <div class="contenedor-titulo-controles">
        <div class="indicadores2"></div>
    </div>

    <div class="contenedor-principal">
        <button role="button" id="flecha-izquierda2" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

        <div class="contenedor-carousel2">
            <div class="carousel">
                @foreach(var item in ViewBag.ComunidadesPopulares){
                    <a href='@Url.Action("Comunidad", new {id = ViewBag.Usuario.ID_Usuario, idComunidad = item.ID_Comunidad})' class="carousel-comunidad2">
                        <img src="@item.FotoPerfil" alt="imagen-comunidad">
                        <h2>@item.Nombre</h2>
                    </a>
                }
            </div>
        </div>

        <button role="button" id="flecha-derecha2" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
    </div>
</div>


<svg>
  <symbol id="next" viewBox="0 0 256 512">
    <path fill="white"
      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" />
  </symbol>
  <symbol id="previous" viewBox="0 0 256 512">
    <path fill="white"
      d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z" />
  </symbol>
</svg>


<script src="~/js/menu.js" asp-append-version="true"></script>
<script src="~/js/carousel.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "3",
        loop: true,
        coverFlowEffect: {
            depth:500,
            modifer: 1,
            slidesShadows: true,
            rotate: 0,
            stretch: 0
        }
    })
</script>