@{
    ViewData["Title"] = "Explorar";
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>

<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
    </div>
</header>


<div class="searcher">

    <h1>Buscá comunidades</h1>

    @* <form action="" class="search_bar">
        <input type="text" placeholder="Encontrá comunidades... " name="search_bar">
        <button type="submit"><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
    </form> *@

    <section class="media-list">
      <input type="search" placeholder="Buscar comunidad" id="buscador_amigo"/>
      <ul style="">
        @foreach(var item in ViewBag.Comunidades){
            <li class="lista_amigo" data-search="{{ @item.Nombre }} {{ amigo.profesion }}">
                <div class="media">
                    <a href="#" class="media__img">
                    @* <img src="/static/img_amigos/{{ amigo.imagen }}" alt="Octocat" /> *@
                    </a>
                    <p class="media__body">@item.Nombre</p>
                </div>
            </li>
        }
      </ul>
    </section>
</div>

<script src="~/js/menu.js" asp-append-version="true"></script>