@{
    ViewData["Title"] = "Perfil";
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/Perfil.css" asp-append-version="true"/>

<!-- NavBar -->
<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
    </div>
</header>

<!-- Perfil -->

<div class="perfil__header">
    <div class="perfil__personal_info">
        <img class="perfil__profile_picture" src="@ViewBag.Usuario.FotoPerfil" alt="">
        <div class="perfil__personal_info__names">
            <span class="span-title">@ViewBag.Usuario.Username</span>
            <span class="span-subtitle">@ViewBag.Usuario.Email</span>
        </div>
    </div>
    <div class="contenedor-btn-perfil">
        <a href='@Url.Action("Index")'>Cerrar sesión</a>
        <button class="little-btn" id="btn-edit">Editar perfil</button>
    </div>
</div>



<div class="perfil__comunidades-favs">
    <h2>Mis Comunidades</h2>
    <div class="perfil__comunidades-cards">
        @foreach (var item in ViewBag.ComunidadesPertenecientes)
        {
            <a href='@Url.Action("Comunidad", new { id = ViewBag.Usuario.ID_Usuario, idComunidad = item.ID_Comunidad})' class="perfil__card">
                <img class="perfil__card-foto" src="@item.FotoPerfil" alt="">
                <span class="card-title">@item.Nombre</span>
            </a>
        }
    <div>
</div>

<section class="modal2">
    <div class="modal__container">
        <div class="modal__upper">
            <p style="font-weight: bold; margin-bottom: 10px; font-size: 1.5rem;">Editar Perfil</p>
        </div>
        <div class="modal__paragraph" style="padding: 20px; margin-top: -20px">
            <div class="modal__campo">
                <label for="nombre">Usuario</label>
                <input type="text" id="campo-usuario" name="nombre" placeholder="Usuario">
            </div>
            
            <div class="modal__campo">
                <label for="email">Email</label>
                <input type="email" id="campo-email" name="email" placeholder="Email">
            </div>

            <div class="modal__campo">
                <label for="foto-perfil">Foto de Perfil</label>
                <button class="contenedor-btn-file bordeado">
                    <i class="fas fa-file"></i>
                    Seleccionar foto
                    <label for="fileInput"></label>
                    <input type="file" id="fileInput" name="foto-perfil">
                </button>

            </div>

            <input type="hidden" id="id-comentario">
        </div>
        <div>
            <button href="#" class="modal__close2">Cerrar</button>
            <button href="#" class="modal__enviar" onclick="handleFile(@ViewBag.Usuario.ID_Usuario), designarToast('exito', 'Perfil editado!', 'Tu perfil se editó con exito!')">Modificar</button>
        </div>
    </div>
</section>

<div>
    <div class="contenedor-toast" id="contenedor-toast">
        <div class="toast exito" id="1">
            <div class="contenido">
                <div class="icono">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"
                        />
                    </svg>
                </div>
                <div class="texto">
                    <p class="titulo">Exito!</p>
                    <p class="descripcion">La operación fue exitosa.</p>
                </div>
            </div>
            <button class="btn-cerrar">
                <div class="icono">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                        />
                    </svg>
                </div>
            </button>
        </div>
        <div class="toast error" id="2">
            <div class="contenido">
                <div class="icono">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                        />
                    </svg>
                </div>
                <div class="texto">
                    <p class="titulo">Error!</p>
                    <p class="descripcion">Hubo un error al intentar procesar la operación.</p>
                </div>
            </div>
            <button class="btn-cerrar">
                <div class="icono">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                        />
                    </svg>
                </div>
            </button>
        </div>
        <div class="toast info" id="3">
            <div class="contenido">
                <div class="icono">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
                        />
                    </svg>
                </div>
                <div class="texto">
                    <p class="titulo">Info</p>
                    <p class="descripcion">Esta es una notificacion informativa.</p>
                </div>
            </div>
            <button class="btn-cerrar">
                <div class="icono">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                        />
                    </svg>
                </div>
            </button>
        </div>
        <div class="toast warning" id="4">
            <div class="contenido">
                <div class="icono">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                        />
                    </svg>
                </div>
                <div class="texto">
                    <p class="titulo">Advertencia</p>
                    <p class="descripcion">Esta notificación es para advertirte sobre algo.</p>
                </div>
            </div>
            <button class="btn-cerrar">
                <div class="icono">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                        />
                    </svg>
                </div>
            </button>
        </div> 
    </div>
</div>

<script>
    const editButton = document.getElementById('btn-edit');
    const modal2 = document.querySelector('.modal2');
    const closeModal2 = document.querySelector('.modal__close2');

    editButton.addEventListener('click', function (e) {
        e.preventDefault();
        modal2.classList.add('modal--show');
    });

    closeModal2.addEventListener('click', (e)=>{
        e.preventDefault();
        modal2.classList.remove('modal--show');
    });

    document.getElementById('campo-usuario').value = "@ViewBag.Usuario.Username";
    document.getElementById('campo-email').value = "@ViewBag.Usuario.Email";
</script>

<script src="~/js/menu.js" asp-append-version="true"></script>