@{
    ViewData["Title"] = "Perfil";
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>

<!-- NavBar -->
<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {usuario = ViewBag.Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {usuario = ViewBag.Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {usuario = ViewBag.Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {usuario = ViewBag.Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {usuario = ViewBag.Usuario})'>Perfil</a></li>
    </div>
</header>

<!-- Perfil -->

<img src="@ViewBag.Usuario.FotoPerfil" alt="">
<h1>@ViewBag.Usuario.Username</h1>
<h3>@ViewBag.Usuario.Email</h3>

<!-- Falta implementar funcionalidad de artistas favoritos, etc. -->


<script src="~/js/menu.js" asp-append-version="true"></script>