@{
    ViewData["Title"] = "Perfil";
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>

<!-- Perfil -->
<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {usuario = ViewBag.Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {usuario = ViewBag.Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {usuario = ViewBag.Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {usuario = ViewBag.Usuario})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {usuario = ViewBag.Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {usuario = ViewBag.Usuario})'>Perfil</a></li>
    </div>
</header>

@* <div class="Perfil">   
    <h3> Editar Perfil </h3> 
    @foreach (var item in ViewBag.UsuarioINFO)
    {
        <img src="@item.Username" class="imagenUsuario">
    }
    @foreach (var item in ViewBag.AlbumesUsuarioMejores)
    {
        <h3> @item.Nombre </h3>
    }
    @foreach (var item in ViewBag.UsuarioINFO)
    {
        <h3> @item.Pais </h3>
    }
</div>

<section class="FavoritosCarrusel">
@foreach (var item in ViewBag.ArtistaFavoritoCarrusel)
{
    <div class="ArtistaCarrusel"> 
    <a href="" class=""> <img src="@item.FotoPerfil" class="IMGArtista"> </a>
    </div>
}
</section>


@foreach (var item in ViewBag.LosDeSiempreCarrusel)
{
    <div class="ArtistaCarrusel"> 
    <a href="" class=""> <img src="@item.FotoPerfil" class="IMGArtista"> </a>
    </div>
}
</section>

<h1>TP XX - Index</h1> *@


<script src="~/js/menu.js" asp-append-version="true"></script>