@{
    ViewData["Title"] = "Perfil";
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/Perfil.css" asp-append-version="true"/>

<!-- NavBar -->
<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
    </div>
</header>

<!-- Perfil -->

<div class="perfil__header">
    <div class="perfil__personal_info">
        <img class="perfil__profile_picture" src="@ViewBag.Usuario.FotoPerfil" alt="">
        <div class="perfil__personal_info__names">
            <span class="span-title">@ViewBag.Usuario.Username</span>
            <span class="span-subtitle">@ViewBag.Usuario.Email</span>
        </div>
    </div>
    <div class="contenedor-btn-perfil">
        <a href='@Url.Action("Index")'>Cerrar sesión</a>
        <button class="little-btn" id="btn-edit">Editar perfil</button>
    </div>
</div>



<div class="perfil__comunidades-favs">
    <h2>Mis Comunidades</h2>
    <div class="perfil__comunidades-cards">
        @foreach (var item in ViewBag.ComunidadesPertenecientes)
        {
            <div class="perfil__card">
                <img class="perfil__card-foto" src="@item.FotoPerfil" alt="">
                <span class="card-title">@item.Nombre</span>
            </div>
        }
    <div>
</div>

<!-- Carrusel Favs -->



<section class="modal2">
    <div class="modal__container">
        <div class="modal__upper">
            <p style="font-weight: bold; margin-bottom: 10px; font-size: 1.5rem;">Editar Perfil</p>
        </div>
        <div class="modal__paragraph" style="padding: 20px; margin-top: -20px">
            <div class="modal__campo">
                <label for="nombre">Usuario</label>
                <input type="text" id="campo-usuario" name="nombre" placeholder="Usuario">
            </div>
            
            <div class="modal__campo">
                <label for="email">Email</label>
                <input type="text" id="campo-email" name="email" placeholder="Email">
            </div>

            <div class="modal__campo">
                <label for="foto-perfil">Foto de Perfil</label>
                <button class="contenedor-btn-file bordeado">
                    <i class="fas fa-file"></i>
                    Seleccionar foto
                    <label for="fileInput"></label>
                    <input type="file" id="fileInput" name="foto-perfil">
                </button>

                @* <input type="file" id="fileInput" name="foto-perfil" placeholder="Foto"> *@
            </div>

            <input type="hidden" id="id-comentario">
        </div>
        <div>
            <button href="#" class="modal__close2">Cerrar</button>
            <button href="#" class="modal__enviar" onclick="handleFile(@ViewBag.Usuario.ID_Usuario), designarToast('exito', 'Perfil editado!', 'Tu perfil se editó con exito!')">Modificar</button>
        </div>
    </div>
</section>

<script>
    const editButton = document.getElementById('btn-edit');
    const modal2 = document.querySelector('.modal2');
    const closeModal2 = document.querySelector('.modal__close2');

    editButton.addEventListener('click', function (e) {
        e.preventDefault();
        modal2.classList.add('modal--show');
    });

    closeModal2.addEventListener('click', (e)=>{
        e.preventDefault();
        modal2.classList.remove('modal--show');
    });

    document.getElementById('campo-usuario').value = "@ViewBag.Usuario.Username";
    document.getElementById('campo-email').value = "@ViewBag.Usuario.Email";
</script>

<script src="~/js/menu.js" asp-append-version="true"></script>