<!-- Perfil -->


<div class="Perfil">   
    <h3> Editar Perfil </h3> 
    @foreach (var item in ViewBag.UsuarioINFO)
    {
        <img src="@item.Username" class="imagenUsuario">
    }
    @foreach (var item in ViewBag.AlbumesUsuarioMejores)
    {
        <h3> @item.Nombre </h3>
    }
    @foreach (var item in ViewBag.UsuarioINFO)
    {
        <h3> @item.Pais </h3>
    }
</div>

<section class="FavoritosCarrusel">
@foreach (var item in ViewBag.ArtistaFavoritoCarrusel)
{
    <div class="ArtistaCarrusel"> 
    <a href="" class=""> <img src="@item.FotoPerfil" class="IMGArtista"> </a>
    </div>
}
</section>


@foreach (var item in ViewBag.LosDeSiempreCarrusel)
{
    <div class="ArtistaCarrusel"> 
    <a href="" class=""> <img src="@item.FotoPerfil" class="IMGArtista"> </a>
    </div>
}
</section>


<section class="MasEscuchadosCarrusel">
@foreach (var item in ViewBag.MasEscuchadosCarrusel)
{
    <div class="ArtistaCarrusel"> 
    <a href='@UrlAction("Comunidad")' class="Link"> <img src="@item.FotoPerfil" class="IMGArtista"> </a>
    </div>
}
</section>


<h1>TP XX - Index</h1>