@{
    ViewData["Title"] = "Perfil";
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>

<!-- NavBar -->
<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
    </div>
</header>

<!-- Perfil -->

<img src="@ViewBag.Usuario.FotoPerfil" alt="">
<h1>@ViewBag.Usuario.Username</h1>
<h3>@ViewBag.Usuario.Email</h3>

@foreach (var item in ViewBag.ComunidadesPertenecientes)
{
    <div>
        <img src="@item.FotoPerfil" alt="">
        <h3>@item.Nombre</h3>
    </div>
}

<!-- Carrusel Favs -->




<script src="~/js/menu.js" asp-append-version="true"></script>