@{
    ViewData["Title"] = "Perfil";
}

<link rel="stylesheet" href="~/css/menuRegularStyle.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/Perfil.css" asp-append-version="true"/>

<style>
    .comentario{
        width: 74%;
        margin-inline: 13%;
    }

    .comentarios{
        width: 94%;
        margin-left: 6%;
    }

    h2{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
</style>

<!-- NavBar -->
<header>
    <nav>
        <div class="logo">
            <img src="/img/Logo-StayCo.jpg" alt="logo">
            <h1>Stay-Co</h1>
        </div>
        <ul>
            <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
            <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
            <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
    </nav>

    <div class="menu-desplegado">
        <li><a href='@Url.Action("Comunidades", new {id = ViewBag.Usuario.ID_Usuario})'>Comunidades</a></li>
        <li><a href='@Url.Action("Explorar", new {id = ViewBag.Usuario.ID_Usuario})'>Explorar</a></li>
        <li><a href='@Url.Action("Perfil", new {id = ViewBag.Usuario.ID_Usuario})'>Perfil</a></li>
    </div>
</header>

<!-- Perfil -->

<div class="perfil__header">
    <div class="perfil__personal_info">
        <img class="perfil__profile_picture" src="@ViewBag.Usuario.FotoPerfil" alt="">
        <div class="perfil__personal_info__names">
            <span class="span-title">@ViewBag.Usuario.Username</span>
            <span class="span-subtitle">@ViewBag.Usuario.Email</span>
        </div>
    </div>
    <div class="contenedor-btn-perfil">
        <a href='@Url.Action("Index")'>Cerrar sesión</a>
        <button class="little-btn" id="btn-edit">Editar perfil</button>
    </div>
</div>



<div class="perfil__comunidades-favs">
    @if(ViewBag.ComunidadesPertenecientes.Count == 0){
        <h2><i>Empezá a unirte a comunidades</i></h2>
    }
    else{
        <h2><i>Mis Comunidades</i></h2>
        <div class="perfil__comunidades-cards">
            @foreach (var item in ViewBag.ComunidadesPertenecientes)
            {
                <a href='@Url.Action("Comunidad", new { id = ViewBag.Usuario.ID_Usuario, idComunidad = item.ID_Comunidad})' class="perfil__card">
                    <img class="perfil__card-foto" src="@item.FotoPerfil" alt="">
                    <span class="card-title">@item.Nombre</span>
                </a>
            }
        </div>
    }
</div>

<div class="comentarios">
    @if(ViewBag.Mensajes.Count == 0){
        <h2><i>Empezá a comentar</i></h2>
    }
    else{
        <h2><i>Mis Comentarios</i></h2>

        @foreach(var item in ViewBag.Mensajes){
            <div class="comentario">
                <div class="perfil">
                    <div class="datos-perfil">
                        <img src="@ViewBag.Usuario.FotoPerfil" alt="foto-usuario" srcset="">
                        <p>@ViewBag.Usuario.Username</p>
                    </div>
                    <input type="hidden" class="comentario-input" data-id="@item.ID_Mensaje" value="@item.ID_Mensaje">

                    @if(item.ID_Usuario == ViewBag.Usuario.ID_Usuario){
                        <div>
                            <button class="boton-comentario" onclick="editarComentario(@item.ID_Mensaje)"><span class="material-symbols-outlined">edit</span></button>
                            <button class="boton-comentario2" onclick="eliminarComentario(@item.ID_Mensaje), designarToast('error', 'Comentario eliminado!', 'Tu comentario se eliminó con exito!')" style="margin-left: 5px"><span class="material-symbols-outlined" style="color: rgb(155, 22, 22);">delete</span></button>
                        </div>
                    }
                </div>
                <div class="contenido">
                    <p data-id="@item.ID_Mensaje">@item.Contenido</p>
                </div>
            </div>
        }
    }
</div>

<section class="modal3">
    <div class="modal__container">
        <div class="modal__upper">
            <p style="font-weight: bold; margin-bottom: 10px; font-size: 1.5rem;">Editar Perfil</p>
        </div>
        <div class="modal__paragraph" style="padding: 20px; margin-top: -20px">
            <div class="modal__campo">
                <label for="nombre">Usuario</label>
                <input type="text" id="campo-usuario" name="nombre" placeholder="Usuario">
            </div>
            
            <div class="modal__campo">
                <label for="email">Email</label>
                <input type="email" id="campo-email" name="email" placeholder="Email">
            </div>

            <div class="modal__campo">
                <label for="foto-perfil">Foto de Perfil</label>
                <button class="contenedor-btn-file bordeado">
                    <i class="fas fa-file"></i>
                    Seleccionar foto
                    <label for="fileInput"></label>
                    <input type="file" id="fileInput" name="foto-perfil">
                </button>

            </div>

            <input type="hidden" id="id-comentario">
        </div>
        <div>
            <button href="#" class="modal__close3">Cerrar</button>
            <button href="#" class="modal__enviar" onclick="handleFile(@ViewBag.Usuario.ID_Usuario), designarToast('exito', 'Perfil editado!', 'Tu perfil se editó con exito!')">Modificar</button>
        </div>
    </div>
</section>

<section class="modal2">
    <div class="modal__container">
        <div class="modal__upper">
            <p style="font-weight: bold; margin-top: -10px; margin-bottom: 15px; font-size: 1.5rem;">Editar comentario</p>
        </div>
        <div class="modal__paragraph" style="margin-top: -110px; padding: 20px; margin-bottom: -100px;">
            <textarea name="comentario" id="contenido-comentario" cols="30" rows="10"></textarea>
            <input type="hidden" id="id-comentario">
        </div>
        <div>
            <button href="#" class="modal__close2">Cerrar</button>
            <button href="#" class="modal__enviar" onclick="ModificarComentario(), designarToast('exito', 'Comentario editado!', 'Tu comentario se editó con exito!')">Modificar</button>
        </div>
    </div>
</section>

<script>
    const editButton = document.getElementById('btn-edit');
    const modal3 = document.querySelector('.modal3');
    const closeModal3 = document.querySelector('.modal__close3');

    editButton.addEventListener('click', function (e) {
        e.preventDefault();
        modal3.classList.add('modal--show');
    });

    closeModal3.addEventListener('click', (e)=>{
        e.preventDefault();
        modal3.classList.remove('modal--show');
    });

    @* Modal 2 *@

    const comentariosButtons = document.querySelectorAll('.boton-comentario');
    const modal2 = document.querySelector('.modal2');
    const closeModal2 = document.querySelector('.modal__close2');

    comentariosButtons.forEach(function (button) {
        button.addEventListener('click', function (e) {
            e.preventDefault();
            modal2.classList.add('modal--show');
        });
    });

    closeModal2.addEventListener('click', (e)=>{
        e.preventDefault();
        modal2.classList.remove('modal--show');
    });

    document.getElementById('campo-usuario').value = "@ViewBag.Usuario.Username";
    document.getElementById('campo-email').value = "@ViewBag.Usuario.Email";
</script>

<script src="~/js/menu.js" asp-append-version="true"></script>