@{
    ViewData["Title"] = "Registrarse";
}
<!-- Registro -->
<div>
    <a class="logo logo-alternativo" href='@Url.Action("Index")'>
        <img src="/img/Logo-StayCo.jpg" alt="logo">
        <h1>Stay-Co</h1>
    </a>
</div>

<main class="main__top-margin">
    <div id="signup-container">
        <h2>Registrarse</h2>
        <form method="post" class="form-grid" action='@Url.Action("RegistrarUsuario")' onsubmit="return verificarPassword()">
            <div class="label-input">
                <label for="usuarioInput" class="form-label">Creá tu usuario</label>
                <i class="fa-solid fa-circle-info"></i>
                <input type="text" class="larger-inputs-signup" placeholder="myAwesomeUser" id="usuarioInput" name="usuario" required>
            </div>
           
            <div class="label-input">
                <label for="emailInput" class="form-label">Ingresá tu email</label>
                <i class="fa-solid fa-circle-info"></i>
                <input type="email" class="larger-inputs-signup" placeholder="myname123@email.com" id="emailInput" name="email" required>
            </div>
             <div class="label-input">
                <label for="contraseñaInput" class="form-label">Creá una contraseña</label>
                <i class="fa-solid fa-circle-info"></i>
                <input type="password" class="larger-inputs-signup" placeholder="••••••••••" id="contraseñaInput" name="contraseña" required>
            </div>
            <div class="label-input">
                <label for="contraseñaInput" class="form-label">Confirmá tu contraseña</label>
                <i class="fa-solid fa-circle-info"></i>
                <input type="password" class="larger-inputs-signup" placeholder="••••••••••" id="contraseñaInput2" required>
            </div>

            <div class="label-input" id="selector-pregunta">
                <label for="contraseñaInput" class="form-label">Respondé una pregunta para recuperar tu cuenta en un futuro</label>
                <select class="form-label" name="preguntaRecuperacion" id="pregunta-recuperacion" required>
                    @foreach(PreguntasDeRecuperacion pregunta in ViewBag.PreguntasDeRecuperacion){
                        <option value="@pregunta.ID_Pregunta">@pregunta.Contenido</option>
                    }
                </select>
                <div id="respuesta-pregunta">
                    <i class="fa-solid fa-circle-info"></i>
                    <input type="text" name="respuestaPregunta" class="larger-inputs-signup" placeholder="Mi respuesta..." required>
                </div>
            </div>
            <button type="submit" class="btn-1 btn-primary" id="botonEnviar" >Registrarse</button>  <!-- mandarlo a registrarse -->
            <p class="Login__main-login-form-little_text" id="signup-little_text">¿Ya tenes una cuenta?&nbsp;<a href='@Url.Action("Login")'>Iniciá sesión</a></p>
        </form>
    </div>
</main>

<script src="~/js/registro.js"></script>

<script>
    function verificarPassword() {
        const contraseñaInput = document.getElementById("contraseñaInput");
        const contraseñaInput2 = document.getElementById("contraseñaInput2");
        const valor1 = contraseñaInput.value;
        const valor2 = contraseñaInput2.value;
        console.log("hola");
        console.log(valor1);
        console.log(valor2);
        if (valor1 == valor2) {
            return true;
        }
        else {
            console.log("hola")
            designarToast('error', 'Error!', 'Las contraseñas no coinciden.');
            return false;
        }
    }
</script>